/*
* NORMALIZATION
*/
*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*
* COMMON TAG STYLING
*/
*
{
	font-family: 'Roboto', sans-serif;

	color: #7a7a7a;
}
body
{
	font-size: 12pt;

	color: #0f253d;
	background-color: #345579;
}
h1
{
	font-size: 1.5rem;

	display: inline-block;

	margin-bottom: 24px;

	color: #466c95;
}
h2
{
	font-size: 1rem;

	display: inline-block;

	color: #5b80a8;
}
h3
{
	font-size: 0.75rem;
}
form
{
	display: block;

	width: 100%;
}
button,
input
{
	font-size: 1rem;

	height: 54px;
	margin-bottom: 6px;
	padding: 17px;

	border: none;
	border-radius: 4px;
	background: none;
}
input[type='text'],
input[type='password']
{
	width: 100%;

	background-color: #ededed;
	box-shadow: inset 0 0 5px 2px rgba(0,0,0,0.1);
}
button,
input[type='submit']
{
	font-weight: bold;

	cursor: pointer;

	color: white;
	border: none;
	background-color: #5dae8b;
}
button:hover,
input[type='submit']:hover
{
	background-color: #77be9f;
}
a,
button.link,
input[type='submit'].link
{
	font-weight: normal;

	display: inline;

	height: auto;
	padding: 0;

	text-decoration: none;

	color: #466c95;
	background: none;
}
a:hover,
button.link:hover,
input[type='submit'].link:hover
{
	text-decoration: underline;
}

/*
* COMMON CLASSES
*/
.center-col
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;

	width: 480px;
	margin-left: -240px;
}
.center-col.large
{
	width: 840px;
	margin-left: -420px;
}
.input-group
{
	position: relative;

	margin-bottom: 24px;
}
.input-group::after
{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	display: block;

	content: '';
	pointer-events: none;

	border-radius: 4px;
	box-shadow: inset 0 0 5px 2px rgba(0,0,0,0.1);
}
.input-group input:first-child
{
	border-radius: 4px 4px 0 0;
}
.input-group input:last-child
{
	border-bottom: none;
	border-radius: 0 0 4px 4px;
}
.input-group input
{
	margin-bottom: 0;

	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 0;
	box-shadow: none;
}
ul.errors li,
.error
{
	font-size: 0.75rem;

	margin-bottom: 6px;

	list-style: none;

	color: #ff7676;
}
ul.errors
{
	margin-bottom: 24px;
}
.panel
{
	width: 100%;
	padding: 24px;

	border-radius: 4px;
	background-color: white;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}
.center-col .panel
{
	margin-top: 24px;
}
.clearfix::after,
.inp-btn-group::after,
.todolist-item::after,
.todo-item::after
{
	display: block;
	clear: both;

	content: '';
}
.float-left
{
	display: block;
	float: left;

	width: auto;
}
.float-right
{
	display: block;
	float: right;

	width: auto;
}
.inp-btn-group input[type='text'],
.inp-btn-group input[type='password']
{
	float: left;

	width: 73%;
	margin-right: 0;

	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.inp-btn-group button,
.inp-btn-group input[type='submit']
{
	float: right;

	width: 27%;
	margin-left: 0;

	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
input.transparent
{
	border: none;
	background: none;
	box-shadow: none;
}
.delete
{
	font-size: 0.75rem;
	font-weight: normal;

	height: auto;
	margin: 0;
	margin-top: 4px;
	padding: 0;

	color: #ff7676;
	background: none;
}
.delete:hover
{
	text-decoration: underline;

	background: none;
}
.list-item,
.no-item
{
	padding-top: 14px;
	padding-bottom: 14px;

	list-style: none;
}
.list-item
{
	padding-left: 6px;

	border-bottom: 1px solid rgba(0,0,0,0.15);
}
.no-item
{
	text-align: center;

	color: rgba(0,0,0,0.4);
}
.list-item:last-child,
.no-item
{
	margin-bottom: -12px;
}
.list-item:last-child
{
	border-bottom: none;
}
.list-item a
{
	font-weight: bold;

	color: #466c95;
}
.list-item a::before
{
	display: inline-block;

	width: 4px;
	height: 4px;
	margin-right: 6px;
	margin-bottom: 3px;

	content: '';

	border-radius: 2px;
	background-color: #466c95;
}
.list-item.colored:nth-child(4n+1) a
{
	color: #466c95;
}
.list-item.colored:nth-child(4n+1) a::before
{
	background-color: #466c95;
}
.list-item.colored:nth-child(4n+2) a
{
	color: #5dae8b;
}
.list-item.colored:nth-child(4n+2) a::before
{
	background-color: #5dae8b;
}
.list-item.colored:nth-child(4n+3) a
{
	color: #c9c639;
}
.list-item.colored:nth-child(4n+3) a::before
{
	background-color: #c9c639;
}
.list-item.colored:nth-child(4n+4) a
{
	color: #ff7676;
}
.list-item.colored:nth-child(4n+4) a::before
{
	background-color: #ff7676;
}
.list-item.deletable .delete
{
	visibility: hidden;
	float: right;
}
.list-item.deletable:hover .delete
{
	visibility: visible;
}
.list-item .item-stat
{
	font-size: 0.75rem;

	color: rgba(0, 0, 0, 0.3);
}
.pager-wrap
{
	text-align: center;
}
ul.pager
{
	display: inline-block;

	list-style: none;
}
ul.pager li
{
	display: inline-block;
}
ul.pager li a
{
	display: block;

	width: 24px;
	height: 24px;
	padding: 2px;

	text-align: center;

	border-radius: 1000px;
}
ul.pager li a.active
{
	font-weight: bold;

	background-color: #cedded;
}

/*
* AUTH PAGES (LOG-IN AND REGISTER)
*/
.center-col .auth-form
{
	position: absolute;
	top: 50%;

	width: 100%;
	margin-top: -180px;
}

/*
* LISTS INDEX PAGE
*/
.list-create-error
{
	margin: 4px 0 0 6px;
}

/*
* LIST PAGE
*/
.list-topbar
{
	margin-bottom: 16px;
}
.list-topbar *
{
	margin-bottom: 0;
}
.list-topbar .vcenter
{
	margin-top: 6px;
}
.list-topbar h1
{
	margin-right: 12px;
}
.list-topbar a.back::before
{
	content: '←';
}
.list-sidebar,
.list-mainbar
{
	float: left;
}
.list-sidebar
{
	width: 40%;
	padding-right: 24px;

	border-right: 1px solid rgb(230, 230, 230);
}
.list-mainbar
{
	width: 60%;
	margin-left: -1px; /* For border */
	padding-left: 24px;

	border-left: 1px solid rgb(230, 230, 230);
}
.list-mainbar .list-header
{
	font-size: 1.25rem;

	height: auto;
	padding: 6px;

	color: #466c95;
}
.list-mainbar .error
{
	margin-left: 6px;
}
.todo-item,
.no-todo
{
	padding: 6px 6px;

	list-style: none;
}
.todo-item:last-child,
.no-todo
{
	margin-bottom: 18px;
}
.no-todo
{
	padding: 24px;

	text-align: center;

	color: rgba(0,0,0,0.25);
}
.todo-item input
{
	margin-bottom: 0;
}
.todo-item input[type='checkbox']
{
	float: left;

	height: auto;
	margin: 6px;
}
.todo-item input[type='text']
{
	float: left;

	width: 80%;
	height: auto;
	padding: 3px;

	color: rgba(0,0,0,0.7);
}
.todo-item input[type='checkbox']:checked ~ input[type='text']
{
	text-decoration: line-through;

	color: rgba(0,0,0,0.4);
}
.todo-item .delete
{
	visibility: hidden;
	float: right;
}
.todo-item:hover .delete
{
	visibility: visible;
}

/*
* USERS ADMIN PAGE
*/
.user-status
{
	font-size: 0.75rem;

	padding: 1px;

	border-radius: 100px;
}
.user-status::before
{
	display: inline-block;
	overflow: hidden;

	width: 6px;
	height: 6px;
	margin-right: 6px;
	margin-bottom: 1px;

	content: '';

	color: transparent;
	border-radius: 3px;
}
.user-status.online
{
	padding-right: 8px;
	padding-left: 4px;

	color: #5dae8b;
	background-color: #cfe8dd;
}
.user-status.online::before
{
	background-color: #5dae8b;
}
.user-status.offline::before
{
	display: none;
}

/*
* FIRST VIEW BREAKPOINT: 840 + 24*2 = 888px
*/
@media screen and (max-width: 888px)
{
	.center-col.large
	{
		width: 480px;
		margin-left: -240px;
	}
	.list-sidebar
	{
		width: 100%;
		padding-right: 0;
		padding-bottom: 12px;

		border-right: none;
		/*border-bottom: 1px solid rgb(230, 230, 230);*/
	}
	.list-mainbar
	{
		width: 100%;
		padding-top: 12px;
		padding-left: 0;

		border-left: none;
	}
}

/*
* SECOND VIEW BREAKPOINT: 480 + 24*2 = 528px
*/
@media screen and (max-width: 528px)
{
	body
	{
		background-color: white;
	}
	.center-col,
	.center-col.large
	{
		left: 0;

		width: 100%;
		margin: 0;
	}
	.center-col .auth-form
	{
		top: 0;
	}
	.panel,
	.center-col .panel
	{
		margin: 0;

		border-radius: 0;
		box-shadow: none;
	}
	.delete
	{
		font-size: 1rem;

		margin-top: 0;
	}
	.todolist-item .delete,
	.todo-item .delete
	{
		visibility: visible;
	}
	.todo-item input[type='text']
	{
		width: 60%;
	}
	.inp-btn-group input[type='text']
	{
		width: 65%;
	}
	.inp-btn-group input[type='submit'],
	.inp-btn-group button
	{
		width: 35%;
	}
}
