ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

h1, h2{
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
	font-family: 'Roboto';
	background-color: rgb(77, 96, 110);
}

/*#wrapper {
	width: 1200px;
	margin: 0 auto;
	}*/

	#l-collumn{
		padding: 45px 0 0 35px;
		float: left;
		width: 410px;
	}

	#l-collumn .user-name {
		margin-top: 2px;
	}

	#r-collumn{
		background-color: #fff;
		float: left;
		position: absolute;
		left: 445px;
		right: 0;
		height: 100%;
	}

	#logout-button{
		cursor: pointer;
		box-shadow: none;
		background: none;
		border: none;
		color: rgb(211, 212, 216);
		padding: 0;
		margin-left: 10px;
	}

	#logout-button:hover {
		text-decoration: underline;
	}

	#index-header-right #logout-button {
		font-size: 12pt;
	}

	#back-to-index{
	}

	#login-button:hover{
		text-decoration: underline;
	}

	.user-name{
		color: rgba(211, 212, 216, 0.5);
		margin: 0;
	}

	.user-name-index{
		font-size: 12pt;
	}

	.user-name-show{
		float: left;
	}
	#logout-form{
		float: right;
		margin-right: 40px;
	}

	#login, #register, #index{
		position: relative;
		top: 150px;
		width: 320px;
		height: 270px;
		margin: 0 auto;
	}

	#index{
		width: 610px;
		top: 0;
	}

	#login-header, #register-header, #index-header {
		margin: 20px 0px;
	}

	#login-header::after, #register-header::after, #index-header::after{
		content: '';
		display: block;
		clear: both;
	}

	#logo{
		float: left;
		color: rgb(211, 212, 216);
	}

	#index-header-right{
		float: right;
		margin-top: 14px;
	}

	#login h2, #register h2, #index h2{
		float: left;
		padding-top: 18px;
		padding-left: 8px;
		color: rgba(211, 212, 216, 0.5);
		font-size: 16px;
	}

	#login-form, #register-form, #add-list-form, #title-list-form{
		padding-top: 10px;
		background-color: #fff;
		border-radius: 5px;
		color: rgba(0, 0, 0, 0.31);
		border-bottom: 4px solid rgb(160, 160, 160);
	}

	#title-list-form{
		overflow: hidden;
		width: 370px;
		margin-top: 40px;
		padding-top: 0;
	}

	.title-editable{
		border: none;
		padding: 0;
		margin: 40px 0 15px 64px;
		color: rgba(0, 0, 0, 0.31);
		font-size: 26px;

	}

	.to-do-editable{
		width: 400px;
		border: none;
		padding: 0;
		margin: 0px 0 20px 10px;
		margin-left: 10px;
		color: rgba(0, 0, 0, 0.75);
		font-size: 12pt;
	}

	.text-field{
		font-size: 12pt;
		width: 280px;
		border-style: none;
		height: 50px;
		margin: 0px 0 10px 10px;
		padding-left: 18px;
		background-color: rgba(211, 212, 216, 0.63);
		border-radius: 5px;
		color: rgba(0, 0, 0, 0.63);
	}

	.text-field-home{

		width: 441px;
		float: left;
	}

	.text-field-list{
		margin-left: 0;
		width: 351px;
		height: 50px;
	}

.delete-list-item{
	float: none;
	visibility: hidden;
	position: relative;
	bottom: 6px;
}

label .to-do-checkbox:checked{
	background: none;
	visibility: hidden;
}

	.errors{
		font-size: 12px;
		color: rgb(236, 24, 93);
		width: 100%;
		padding-left: 0px;
		margin: 0px 0px 0px 15px;
		font-weight: bold;
	}

	.errors li{
		margin-bottom: 5px;
	}

	.errors-home{
		margin: 0 0 10px 12px;
	}

	.errors-list-show{
		margin-left: 64px;
		margin-bottom: 10px;
	}

	input[type=checkbox]:checked{
		border: none;
		box-shadow: none;
		background: none;
	}

	.button{
		font-size: 12pt;
		font-weight: 600;
		cursor: pointer;
		margin: 0 0 0 10px;
		box-shadow: none;
		border-radius: 5px;
		height: 50px;
		width: 90px;
		border: none;
		background-color: rgb(63, 186, 194);
		color: #fff;
		margin-right: 5px;
	}

	.button:hover{
		background-color: rgb(113, 204, 210);
	}

	.register-button{
		width: 205px;
		margin-bottom: 10px;
	}

	.login-btn{
		margin-bottom: 10px;
	}

	.button-add-list{
		width: 120px;
	}

	.to-do-add-btn{
		width: 120px;
	}

#none-lists{
	margin-bottom: 10px;
	padding-left: 0;
	text-align: center;
	color: rgba(0, 0, 0, 0.31);
}

#none-items{
	color: rgba(0, 0, 0, 0.62);
	margin-left: 64px;
	margin-bottom: 32px;
}

.todolist, .title-list-item{
	padding: 20px 25px;
	border-top: 1px solid rgb(223, 223, 223);
}

.todolist a {
	font-size: 14pt;
}

.todolist {
	font-size: 10pt;
}

.todo{
	margin: 0;
	padding: 0;
	margin-left: 64px;
}

.title-list-item{
}

.to-do-add-form{
	margin: 0 0 0 64px;
}

a{
	font-size: 16px;
	/*font-weight: bold;*/
	text-decoration: none;

	color: rgb(63, 186, 194);
}

a:hover{
	text-decoration: underline;
}

.delete{
	font-size: 10pt;
	background: none;
	border: none;
	color: rgb(236, 24, 93);
	padding: 0;
	border-bottom: 1px dotted rgb(236, 24, 93);
	cursor: pointer;
}


.delete-list-btn{
	float: right;
	visibility: hidden;
	margin-top: 2px;
}

.todolist:hover .delete{
	visibility: visible;
}

.todo:hover .delete{
	visibility: visible;
}

#list-create-form{
	padding-bottom: 14px;
}

.show-page-links{
	color: rgb(211, 212, 216);
}

#l-collumn-header a, #l-collumn-header p, #l-collumn-header input{
	font-size: 14px;
}
