{{define "header"}}
<!DOCTYPE html>
<html>
<head>
  <title>TodoApp</title>
  <script src="/s/js/todoapp.js" charset="utf-8"></script>
</head>
<body>
  <p>
    {{if .LoggedIn}}
    <b>{{.CurrentUser.Name}}</b> |
    <form action="/logout" method="post">
      <input type="submit" name="submit" value="Выход">
    </form>
    {{else}}
    <a href="/">Вход</a> |
    <a href="/register">Регистрация</a>
    {{end}}
  </p>
  <p style="color:red;font-weight:bold;" id="error-alert">
    {{if .AlertError}}{{.AlertError}}{{end}}
  </p>
{{end}}
{{define "footer"}}
</body>
</html>
{{end}}
