{{define "header"}}
<!DOCTYPE html>
<html>
<head>
  <title>TodoApp</title>
  <script src="/s/js/todoapp.js" charset="utf-8"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/s/css/style.css">
  <link rel="icon" type="image/png" href="/s/icon.png">
</head>
<body>
  {{end}}
  {{define "footer"}}
</body>
</html>
{{end}}
