{{template "header"}}
<form action="/register" method="post">
  <input type="text" name="name" value=""><br>
  <input type="password" name="password" value=""><br>
  <input type="submit" name="submit" value="Зарегистрироваться">
</form>
{{template "footer"}}
