{{template "header" .}}
<h1>TodoApp</h1>
<form action="/logout" method="post">
  {{.CurrentUser.Name}}
  <input type="submit" name="submit" value="Выход">
</form>
<form action="/list-create" method="post">
  <input type="text" name="title" value="" placeholder="Заголовок">
  <input type="submit" name="submit" value="Добавить">
</form>
<p id="error-alert">
  {{if .AlertError}}{{.AlertError}}{{end}}
</p>
<ul>
  {{range .Lists}}
  <li class="todolist" data-id="{{.ID}}">
   <a href="{{.Path}}">{{.Title}}</a>
    ({{.LenDone}}/{{.Len}})
    <button type="button" name="button" class="delete">Удалить</button>
  </li>
  {{else}}
  <li>
    Списков дел нет :(
  </li>
  {{end}}
</ul>
{{template "footer" .}}
