{{template "header" .}}
<a href="/">Назад на главную</a>
<form action="/logout" method="post">
  {{.CurrentUser.Name}}
  <input type="submit" name="submit" value="Выход">
</form>

<ul>
  {{range .Lists}}
  <li>
    <a href="{{.Path}}">{{.Title}}</a>
  </li>
  {{end}}
</ul>

<input type="text" name="title" value="{{.List.Title}}" data-id="{{.List.ID}}">
<p id="error-alert" >
  {{if .AlertError}}{{.AlertError}}{{end}}
</p>
<ul>
  {{range .List.Todos}}
  <li class="todo" data-id="{{.ID}}">

    <input type="checkbox" name="done" {{if .Done}}checked{{end}}>
    <input type="text" placeholder="Задание" name="label" value="{{.Label}}" >
    <button type="button" name="button" class="delete">Удалить</button>
  </li>
  {{else}}
  <li>
    Дел нет!
  </li>
  {{end}}
</ul>
<form action="{{.List.Path}}/add" method="post">
  <input type="text" name="label" value="">
  <input type="submit" name="submit" value="Добавить">
</form>
{{template "footer" .}}
