{{template "header" .}}
<a href="/">Назад на главную</a>
<form action="/logout" method="post">
  <p>{{.CurrentUser.Name}}</p>
  <input type="submit" name="submit" value="Выход">
</form>
<ul>
  {{range .Lists}}
  <li>
    <a href="{{.Path}}">{{.Title}}</a>
  </li>
  {{end}}
</ul>

<input type="text" class="todolist-title" name="title" value="{{.List.Title}}" data-id="{{.List.ID}}">
<p style="color:red;font-weight:bold;" id="error-alert">
  {{if .AlertError}}{{.AlertError}}{{end}}
</p>
<ul>
  {{range .List.Todos}}
  <li class="todo" data-id="{{.ID}}">
    <input type="checkbox" name="done" {{if .Done}}checked{{end}}>
    <input type="text" name="label" value="{{.Label}}">
    <button type="button" name="button" class="delete">X</button>
  </li>
  {{else}}
  <li><i>Дел нет</i></li>
  {{end}}
</ul>
<form action="{{.List.Path}}/add" method="post">
  <input type="text" name="label" value="">
  <input type="submit" name="submit" value="Добавить">
</form>
{{template "footer" .}}
