{{template "header" .}}
<div class="center-col">
  <div class="panel">
    <div class="clearfix">
      <a href="/"><h1 class="float-left">TodoApp</h1></a>
      <div class="float-right" style="margin-top:5px;">
        {{template "account-header" .}}
      </div>
    </div>
    <form action="/list-create" method="post">
      <div class="inp-btn-group">
        <input type="text" name="title" value="" placeholder="Заголовок">
        <input type="submit" name="submit" value="Добавить">
      </div>
    </form>
    <p class="error list-create-error" id="error-alert">
      {{if .AlertError}}{{.AlertError}}{{end}}
    </p>
    <ul>
      {{range .Lists}}
      <li class="todolist colored deletable list-item" data-id="{{.ID}}">
        <a href="{{.Path}}">{{.Title}}</a>
        <span class="item-stat">{{.LenDone}}/{{.Len}}</span>
        <button type="button" name="button" class="delete">Удалить</button>
      </li>
      {{else}}
      <li class="no-item">
        Списков дел нет :(
      </li>
      {{end}}
    </ul>
  </div>
</div>
{{template "footer" .}}
