{{template "header" .}}
<div id="index">
  <div id="index-header">
    <h1 id="logo">TodoApp</h1>
    <form id="index-header-right" action="/logout" method="post">
    <span id="user-name"> {{.CurrentUser.Name}} </span>
      <input id="logout-button" type="submit" name="submit" value="Выход">
    </form>
  </div>
  <div id="add-list-form">
    <form id="list-create-form" action="/list-create" method="post">
      <input class="text-field text-field-home" type="text" name="title" value="" placeholder="Заголовок">
      <input class="button button-add-list" type="submit" name="submit" value="Добавить">
    </form>
    <p id="error-alert" class="errors errors-home">
      {{if .AlertError}}{{.AlertError}}{{end}}
    </p>
    <ul id="todolist-ul">
      {{range .Lists}}
      <li class="todolist" data-id="{{.ID}}">
       <b><a href="{{.Path}}">{{.Title}}</a></b>
        ({{.LenDone}}/{{.Len}})
        <button class="delete delete-list-btn" type="button" name="button" class="delete">Удалить</button>
      </li>
      {{else}}
      <li id="none-lists">
        Списков дел нет :(
      </li>
      {{end}}
    </ul>
  </div>
</div>
{{template "footer" .}}
