<!--
Account header template.

Requires variables:
* .CurrentUser - current user

-->
{{define "account-header"}}
<div class="account-header">
  <form action="/logout" method="post">
    <span class="account-name">{{.CurrentUser.Name}}</span>
    {{if .CurrentUser.Admin}}
      <a class="admin-panel-link" href="/admin">Админка</a>
    {{end}}
    <input class="link" type="submit" name="submit" value="Выход">
  </form>
</div>
{{end}}
